@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Merienda:wght@300&family=Montserrat&family=Space+Grotesk:wght@500&display=swap');

:root {
    --color-1: #494E6B;
    --color-2: #98878F;
    --color-3: #985E6D;
    --color-4: #d5d5d5;
    --color-5: #192231;
    --color-6: #42acb1;
    --color-7: #491475;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Luxurious Roman', serif;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
}

a {
    font-size: 15px;
    color: var(--color-6);
}

p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex-grow: 1;
    padding: 3.5em;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(233, 251, 253));
}

header {
    min-height: 100px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav,
footer {
    clear: both;
    padding: 4px;
    text-align: center;
    background-color: black;
}

footer {
    color: white;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--color-5);
}

h2 {
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
}

/*listado*/

table {
    border-collapse: collapse;
    color: #000;
    font-size: 18px;
    border: 1px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
}


th {
    background-color: var(--color-6);
}

td,
th {
    border-radius: 3px;
    border: 1px solid gray;
    width: 10%;
    padding: 8px;
    text-align: left;
}



/*NAV*/
nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: larger;
}

nav a:hover {
    color: var(--color-6);
}

nav li {
    display: inline;
    padding: 0 40px 0 0;
}

/*FOTO HEADER*/
header>img {
    width: 15%;
}

/*HOME*/
.home-img {
    max-width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

.contenedor-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-home p {
    width: 50%;
    text-align: justify;
    margin: 40px;
}

.loguear {
    /* Boton arriba a la derecha */
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
}

/*tooltip home*/

.tooltip {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    padding: 20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    right: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: var(--color-7);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip img {
    height: auto;
}

.tooltip .tooltiptext ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.tooltip .tooltiptext li {
    margin-bottom: 5px;
}



/*BOTON LOGIN*/
.button-login {
    align-items: center;
    background-color: var(--color-7);
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    padding: 1rem;
    touch-action: manipulation;
    text-decoration: none;
}

.button-login:hover {
    box-shadow: var(--color-3) 0 0 0 3px;
}

/*tablas*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--color-4);
}

/* Botones Tabla*/
/*botones tabla admin*/
.btn-delete {
    margin: 32px;
    background-color: red;
    border: 2px solid black;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    min-width: 100px;
}

.btn-delete:hover {
    background-color: rgb(112, 26, 26);
}

/*botones tabla admin*/
.btn-registrar {
    margin: 18px;
    background-color: green;
    border: 2px solid black;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    min-width: 100px;
}

.btn-registrar:hover {
    background-color: rgb(26, 80, 29);
}

/* Boton Tabla*/
.button-tabla {
    align-items: center;
    background-color: var(--color-7);
    color: white;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    padding: 1rem 1.2rem;
}

.button-tabla:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* quienes somos */

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el párrafo */
.contenedor p {
    width: 50%;
}

/* Estilo para la imagen */
.contenedor iframe {
    width: 40%;
    border-radius: 8px;
}

/*MAPA*/
.mapa {
    margin: 10px;
    width: 40%;
    height: 400px;
}

/* galeria */

/* Estilo para el contenedor principal */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*div contenedor imagenes en galeria*/
/*Esto es sencillo, es decir, es un div, que calculamos la anchura para que siempre haya 3 imagenes 
por fila, eso lo hacemo con el calc, dentro de cada fila, hay un imagen-caja que es un div que dentro tiene una imagen, 
el resto de elementos son las vistas en clase, por lo que son intuitivas de entender. La cortina lo hacemos con un transform que simplemente oscurece 
la imagen.*/
.imagen-caja {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

/* Estilo para las imágenes dentro de las cajas */
.imagen-caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

/*Esto hace que se oscurezca y aparezca la descripción de la foto*/
.cortina {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.imagen-caja:hover .cortina {
    opacity: 1;
    transition: opacity 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cortina p {
    color: white;
    padding: 20px;
}

/*AQUI  QUE ACABA GALERIA*/

.contenedor h1 {
    font-size: 100px;
    color: black;
    margin-bottom: 40px;
}


/*Esto es el css de los divs donde hay 2 elementos uno en la izquierda que suele ser el texto y otro a la derecha que 
suele ser una imagen o un mapa en otro caso.*/
.div-50 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-50 img {
    width: 100%;
    height: auto;
    min-width: 300px;
    border-radius: 8px;
}



/*ASIDES*/

aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    size: 5px;
}

.div-aside {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    background-color: var(--color-6);
}

aside>div {
    position: relative;
}

aside>div>img {
    width: 10%;
    height: 120px;
    transition: transform 0.05s ease-in-out;
    border: 3px solid transparent;
    /*Est lo tuve que hacer así porque sino hacía cosas muy raras y me cambiaba todo el div.*/
}

aside>div>img:hover {
    border-color: var(--color-1);
    transform: scale(1.3);
}

.aside-info {
    color: green;
    font-weight: 800;
}


/*formularios*/
.form-centrado {
    width: 300px;
    margin: auto;
    text-align: center;
}

/*Esto es para centrar el formulario de subir imagen*/
.form-centrado input {
    width: 100%;
    margin-bottom: 10px;
}

.ocultar {
    display: none;
}


/* Estilo para la sección de paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para la sección de paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para cada enlace de paginación y botón */
.pagination a,
.pagination button {
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s;
    cursor: pointer;
    /* Agregamos este estilo para que aparezca la mano */
}

/* Estilo para el enlace o botón de la página actual */
.pagination a.current,
.pagination button.current {
    background-color: #007bff;
    color: #fff;
}

/* Estilo para el enlace o botón al pasar el ratón */
.pagination a:hover,
.pagination button:hover {
    background-color: #ddd;
}


/*Esto es para listaMatriculados.php, es decir ver las imagenes de los cursos*/
.curso {
    display: inline-block;
    gap: 10px;
    margin-left: 30px;
    text-align: center;
}

.curso img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: block;
    margin-bottom: 5px;
    transition: transform 0.1s ease-in-out;
    /* Agrega una transición suave al cambio de tamaño */
}
/*Si paasmos encima de las imagenes de los cursos se haga más grande*/
.curso img:hover {
    border-color: #999;
    transform: scale(1.1);
    /* Hace que la imagen sea 1.1 veces más grande al pasar el ratón */
    cursor: pointer;
}

.curso p {
    margin: 0;
}

/*Esto es para mostrar el cuadrado con la metereología */
#papa {

    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--color-6);
    position: absolute;
    right: 0; /*para que se quede a la derecha*/
    padding: 10px;
    margin-right: 150px;
}
/*Esto es para mostar el nombre del usuario a la izquierda*/
#saludo_user {
    display: flex;
    position: absolute;
    left: 0;
    top: 150;
    padding: 10px;
}

/*AQUI ES DONDE PONDREMOS LOS MEDIA-QUERIES*/

@media (max-width: 950px) {
    .contenedor-home {
        /* Reglas específicas para pantallas de 768 píxeles o menos */
        flex-direction: column;
    }

    .div-50 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .div-50 p {
        margin: 0;
        padding: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav a {
        display: block;
        white-space: nowrap;
    }

    .contenedor-home p {
        width: 100%;

    }

    .mapa {
        width: 100%;
    }

    .galeria {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .imagen-caja {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    /* Estilo para las imágenes dentro de las cajas */
    .imagen-caja img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.3s;
    }

    .cortina {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        transition: opacity 0.3s ease-in-out;
        border-radius: 8px;
    }


    /*CAMBIO LAS TABLAS PARA QUE SE AJUSTEN AL TAMAÑO DEL DISPOSITIVO, Y QUITO CABECERA*/

    table,
    th,
    td {
        display: block;
    }

    /* Ajustes adicionales para las celdas en pantallas pequeñas */
    th,
    td {
        width: 100%;
        box-sizing: border-box;
    }

    /* Ocultar la cabecera en pantallas pequeñas */
    thead {
        display: none;
    }

    aside>div>img {
        width: 30%;
    }

    aside>div>img:hover {
        border-color: var(--color-4);
    }

}