:root {
    --color-1: #494E6B;
    /* Asi es como se ponen los colores para que sean globales, nosotros vamos a usar el hexa */
    --color-2: #98878F;
    /* Asi es como se ponen los colores para que sean globales, nosotros vamos a usar el hexa */
    --color-3: #985E6D;
    /* Asi es como se ponen los colores para que sean globales, nosotros vamos a usar el hexa */
    --color-4: #d5d5d5;
    /* Asi es como se ponen los colores para que sean globales, nosotros vamos a usar el hexa */
    --color-5: #192231;
    /* Asi es como se ponen los colores para que sean globales, nosotros vamos a usar el hexa */
    --color-6: #42acb1;

    /* var()*/
}

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Merienda:wght@300&family=Montserrat&family=Space+Grotesk:wght@500&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: arial;
    background-image: url('../img/fondo.png');
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    /* Asegura que el cuerpo tenga al menos el 100% de la altura de la ventana */
    font-family: 'Luxurious Roman', serif;
    /* Centrado */
}

a {
    font-size: 15px;
}

main {
    flex-grow: 1;
    /*color: white;*/
    padding: 3.5em;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(233, 251, 253));

}

header {
    min-height: 100px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav,
footer {
    clear: both;
    padding: 4px;
    text-align: center;
    background-color: black;
    font-size: 80%;
}

footer {
    color: white;
}

section {
    width: 45%;
    min-width: 300px;
    margin: 0px 0px 15px 0px;
    padding: 15px 5px 5px 5px;
    background-color: beige;
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, .75);
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--color-5);
}

h2 {
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
}

#logo {
    float: left;
    min-width: 80px;
}

#eslogan {
    float: left;
    margin: 5% 5%;
    color: #914bb9;
}

#registro {
    position: absolute;
    top: 5px;
    right: 10%;
}

table {
    background-color: #FFFFE0;
    border-collapse: collapse;
    color: #000;
    font-size: 18px;
    border: 1px;
    margin: 10px auto;
}

a {
    color: var(--color-6);
}

th {
    background-color: var(--color-6);
}

td,
th {
    border: 1px solid;
    padding: 1px;
    width: 10%;
}

td {
    border-bottom: 1px dotted #BDB76B;
}


#registro a:hover {
    color: var(--color-6);
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--color-6);
}

nav li {
    display: inline;
    padding: 0 40px 0 0;
}

section#blog {
    float: right;
}

.valoracion-usuario {
    font-style: italic;
}

.botonleermas {
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}

.izq {
    float: left;
    margin-top: 0px;
    text-align: left;
    color: white;
}

.der {
    margin-top: 0px;
    text-align: right;
    color: white;
}

header>img {
    width: 15%
}

.home-img {
    max-width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

.contenedor-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-home p {
    width: 50%;
}


/*tablas*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--color-4);
    border-radius: 15px;
    /* Agrega bordes redondeados a la tabla */
    overflow: hidden;
    /* Asegura que los bordes redondeados se apliquen correctamente */
    box-shadow: 0 0 10px var(--color-4);

}

/* Boton Tabla*/
.button-tabla {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    padding: 1rem 1.2rem;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
}

.button-tabla:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* quienes somos */

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Estilo para el párrafo */
.contenedor p {
    width: 50%;
}

/* Estilo para la imagen */
.contenedor iframe {
    width: 40%;
    border-radius: 8px;
}

/* galeria */

/* Estilo para el contenedor principal */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagen-caja {
    width: calc(33.33% - 20px);
    /* Ajuste de tamaño y espaciado */
    margin-bottom: 20px;
    /* Agregado margen inferior */
    position: relative;
    overflow: hidden;
}

/* Estilo para las imágenes dentro de las cajas */
.imagen-caja img {
    width: 100%;
    height: 100%;
    /* Ajustado a 100% para cubrir completamente el contenedor */
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}


.cortina {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.imagen-caja:hover .cortina {
    opacity: 1;
    transition: opacity 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.cortina p {
    color: white;
    padding: 20px;

}

.contenedor h1 {
    font-size: 100px;
    color: black;
    margin-bottom: 40px;
}


th,
td {

    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--color-6);
}


.div-50 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #000;*/

}

.div-50 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Opcional: bordes redondeados para las imágenes */
}




.tooltip {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    padding: 20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    right: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: var(--color-1);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip img {
    height: auto;
}

.tooltip .tooltiptext ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.tooltip .tooltiptext li {
    margin-bottom: 5px;
}

.loguear {
    position: absolute; top: 0; right: 0;
}